table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td, tr {
    border: 1px solid;
}

.mine {
    color: red;
}

.hidden {
    color: blue;
}

.hidden {
    color: blue;
    background-color: #f1f1c1;
}

.visible {
    visibility: visible;
}