@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* NEW CODE */

body {
    font-family: 'Press Start 2P';
    background-color: #000000;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100vh;
    max-width: 100%;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game .row {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell, .cellLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 6em;
    height: 3em;
    color: #000000;
    border: 0.5em outset #6d6d6d;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-align: center;
    text-decoration: none;
    text-outline: 1em white;
    background: url("assets/rock.webp");
}

.cellLight {
    border: 0.5em outset #bebebe;
    background: url("assets/rock.webp");
}

.cell a {
    display: block;
}

.debugInput {
    padding: 1em;
    margin: 1em;
}

.debug {
    font-size: 1em;
    font-weight: bold;
    font-family: monospace;
    background-color: black;
    color: white;
    overflow: auto;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-family: monospace;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5em;
    font-size: 0.5em;
}

img {
    width: 90%;
    height: 90%;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.formulario label {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario select,
.formulario input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.formulario button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    font-size: 16px;
    cursor: pointer;
}

.formulario button[type='submit']:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
}

.mine {
    animation-name: explode;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes explode {
    0% {
        transform: scale(0.8);
        filter: brightness(1) hue-rotate(0deg);
    }
    50% {
        transform: scale(1.1);
        filter: brightness(1) hue-rotate(50deg);
    }
    100% {
        transform: scale(0.8);
        filter: brightness(1) hue-rotate(0deg);
    }
}

.zero {
    background-color: #000000;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: orange;
}

.four {
    color: orange;
}

.five {
    color: red;
}

.six {
    color: mediumvioletred;
}

.seven {
    color: purple;
}

.eight {
    color: black;
}

input {
    font-family: 'Press Start 2P';
    font-size: 1em;
}

input[type="submit"].gameover {
    margin-top: 1rem;
    background-color: red;
    color: white;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
}

input[type="submit"].debugInput {
    background-color: green;
    color: white;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
